{% extends "master.html" %}

{% block title %}
    Sightings Map
{% endblock %}

{% block extra_styles %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'sightings/libs/leaflet/dist/leaflet.css' %}" />
    <link rel="stylesheet" href="{% static 'sightings/map.css' %}">
    <link rel="stylesheet" href="{% static 'sightings/libs/leaflet_markercluster/MarkerCluster.css' %}">
    <link rel="stylesheet" href="{% static 'sightings/libs/leaflet_markercluster/MarkerCluster.Default.css' %}">

{% endblock %}

{% block content %}
    <div id="loading_screen">
        <div class="spinner-border text-light position-absolute top-50 start-50" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <!-- The map div for LeafletJS -->
    <div id="map"></div>

    <!-- The 'side panel' div for user to select dates etc -->
    <div class="metallicss" id="side_panel_blade_closed"><i class="fa-solid fa-bars fa-xl bars_icon"></i></div>
    <div class="metallicss" id="side_panel_blade_open"><i class="fa-solid fa-xmark fa-xl xmark_icon"></i></div>
    <div class="container" id="side_panel"></div>

{% endblock %}

{% block extra_scripts %}
    {% load static %}

    <!-- 
        Django renders template files on the server BEFORE they reach the browser.
        This means data can be inserted into the HTML before the user ever sees it.
        Here Django loops over the 'sightings' database rows and writes them
        into the page as a JavaScript array of coordinates and summaries.
    -->
    <script>
        const sightings = [
            {% for sighting in sightings %}
            {
                lat: {{ sighting.lat }},
                lng: {{ sighting.lng }},
                summary: "{{ sighting.summary }}"
            },
            {% endfor %}
        ];

        // We also need to pass the static file URL (for the custom marker) to JavaScript.
        // This is because the JS file doesn't know where sightings/media/icons/ is on the server.
        // map.js runs entirely in the browser with no knowledge of the Django project structure.
        const alienIconUrl = "{% static 'sightings/media/icons/alien_marker_29x32.svg' %}";

    </script>

    <script src="{% static 'sightings/libs/leaflet/dist/leaflet.js' %}"></script>
    <script src="{% static 'sightings/libs/leaflet_markercluster/leaflet.markercluster.js' %}"></script>
    <script type="module" src="{% static 'sightings/libs/metallicss/dist/metallicss.min.js' %}"></script><!-- For metallics css colours. https://www.metallicss.com/ -->
    <script src="{% static 'sightings/map.js' %}"></script>

{% endblock %}