{% extends "master.html" %}

{% block title %}
    Sightings Map
{% endblock %}

{% block extra_styles %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'sightings/libs/leaflet/dist/leaflet.css' %}" />
    <link rel="stylesheet" href="{% static 'sightings/map.css' %}">
 
{% endblock %}

{% block content %}
    <div id="loading_screen">
        <div class="spinner-border text-light position-absolute top-50 start-50" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <!-- The map div for LeafletJS -->
    <div id="map"></div>

    <!-- The 'side panel' div for user to select dates etc -->
    <div class="side_panel_blade_closed"></div>
    
    <div class="side_panel contaner">
        <div class="side_panel_blade_open"></div>
    </div>

{% endblock %}

{% block extra_scripts %}
    {% load static %}
    <script src="{% static 'sightings/libs/leaflet/dist/leaflet.js' %}"></script>
    <script src="{% static 'sightings/map.js' %}"></script>

{% endblock %}