#loading_screen {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 1;
}

/* For LeafletJS */
#map {
    height: 100vh;
    width: 100%;
}

#side_panel_blade_closed {
    position: absolute;
    left: 0;
    top: 10%;
    height: 80vh;
    width: 50px;
    z-index: 9999;
    border: 1px solid black;
    border-radius: 0 25px 25px 0;
    box-shadow: 5px 5px 8px black;

}

#side_panel_blade_open {
    position: absolute;
    left: 0;
    top: 10%;
    height: 80vh;
    width: 50px;
    z-index: 9999;
    border: 1px solid black;
    border-radius: 0 25px 25px 0;
    box-shadow: 5px 5px 8px black;

}

#side_panel {
    position: absolute;
    left: 0;
    top: 10%;
    height: 80vh;
    width: 90vw;
    z-index: 8888;
    border: 1px solid black;
    border-radius: 0 25px 25px 0;
    background-color: whitesmoke;
    box-shadow: 5px 5px 8px black;
    opacity: 0.8;
}

.metallicss {
    --convexity: 0;
    --metal: silver;
}

.bars_icon {
    position: relative;
    top: 50%;
    left: 10%;
}

.xmark_icon {
    position: relative;
    top: 50%;
    left: 10%;
}
